{% extends 'base.html' %}
{% load static %}

{% block title %}Focus{% endblock %}

{% block content %}
<div class="text-center">
  <h2>Focus Timer</h2>

  <div class="mx-auto" style="max-width: 360px;">
    <label class="mt-3">Subject</label>
    <select id="subjectSelect" class="form-control">
      <option value="">-- Choose a subject --</option>
      {% for s in subjects %}
      <option value="{{ s.id }}" type="subject">{{ s.name }}</option>
      {% for m in s.modules.all %}
      <option value="{{ m.id }}" parentId = "{{ s.id }}" type = "module">[Module]: {{ s.name }} → {{ m.name }}</option>
      {% for sm in m.submodules.all %}
      <option value="{{ sm.id }}" parentId = "{{ m.id }}" type="submodule">[Sub Module]: {{ s.name }} → {{ m.name }} → {{ sm.name }}</option>
      {% endfor %}
      {% endfor %}
      {% endfor %}
    </select>

    <small id="saveStatus" class="d-block mt-2"></small>
  </div>

  <h1 id="timer" class="display-3 mt-4" contenteditable="true">25:00</h1>

  <button id="startBtn" class="btn btn-success m-2">Start</button>
  <button id="stopBtn" class="btn btn-danger m-2">Stop</button>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/timer.js' %}"></script>
{% endblock %}